<div class="post-card">
  <h3>Comments</h3>
  <hr/>
  <% @post.comments.each do |comment| %>
    <div class="card card-body">
      <p><%= comment.body %></p>
      <p><%= comment.created_at %></p>
    </div>
  <% end %>
</div>
