<div class="post-card">
  <h3>Comments</h3>
  <hr/>
  <% @post.comments.each do |comment| %>
    <div class="card card-body">
      <p class="post-body" ><%= comment.body %></p>
      <p class="post-body" ><%= comment.created_at.strftime("%b %d, %Y") unless comment.created_at.nil? %></p>
    </div>
  <% end %>
</div>
