/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
//  @import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

#navbar {
  background-color: #323233;
}

#navbar a {
color: white;
font-family: 'Comfortaa', cursive;

}

#navbar-app-name {
  font-size: 28px;
}

body {
  background-color: rgb(138, 199, 219)
}

.blog-title {
  font-size: 70px;
  font-family: 'Bungee Inline', cursive;
  color: rgb(58, 56, 56);
  text-align: center;
  margin: 40px;

}

.new-blog-title {
  font-family: 'Bungee Inline', cursive;
  color: rgb(58, 56, 56);
  font-size: 70px;
  text-align: center;
  margin: 40px;
}

.post-title {
  padding: 18px;
  font-family: 'Bungee Inline', cursive;

}

.post-body {
  padding: 18px;
  font-family: 'Comfortaa', cursive;
}

.wrapper {
  margin: 60px;
  text-align: center;
}

.post-card {
  margin-top: 70px;
  text-align: left;
}

.card {
  margin: 30px;
  background-color: rgb(235, 232, 232);
}

.container {
  margin-top: 20px;
  margin-bottom: 28px;
}

.comment-h3 {
  font-family: 'Comfortaa', cursive;
}

.devise-container {
  margin: auto;
  padding-top: 80px;
  width: 30%;
  font-family: 'Comfortaa', cursive;
}

.new-post-form {
  margin: auto;
  width: 60%;
}

.new-comment {
  width: 60%;
}

#instructions-btn {
  margin-top: 30px;
}

.instructions-links {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 30px;
}

.comment-indicator {
  text-align: right;
  padding-left: 18px;
  padding-right: 18px;
  color: gray;
}

.actions {
  margin: auto;
}
